button {
  width: 200px;
  height: 40px;
  background-color: #7CDFD3;
  border-radius: 50px;
  border: none;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: #399c91;
  color: #FFF;
}